.edit .container {
  max-width: 650px;
  margin: 20px auto;
  background: whitesmoke;
  box-shadow: inset 10px 10px 10px -1px rgb(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgb(229, 240, 251);
  border: 5px solid white;
  border-radius: 10px;
}
.edit-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit-top {
  height: 350px;
  position: relative;
}
.edit-top .bg-img {
  width: 640px;
  height: 230px;
  background: rgb(170, 194, 255);
  box-shadow: inset 10px 10px 10px -1px rgb(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgb(229, 240, 251);
  object-fit: cover;
  position: relative;
  border: 7px solid rgb(222, 231, 255);
  border-radius: 10px;
}
.edit-top .bg-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(172, 187, 249, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.bg-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.sml-img {
  width: 150px;
  height: 150px;
  background: whitesmoke;
  box-shadow: inset 10px 10px 10px -1px rgb(10, 99, 169, 0.16),
    inset -10px -10px 10px -1px rgb(229, 240, 251);
  border: 10px solid white;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 80%;
  transform: translateY(-20%);
  z-index: 999;
}
.sml-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.edit-form{
    margin-top: -45px;
}
.edit-form h2{
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.edit-form .form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: none;
    outline: none;
   border: none;
 padding: 0.5rem;
 border-radius: 1rem;
 background: white;
 box-shadow:  10px 10px 10px  -1px rgb(10, 99, 169, 0.16),
   -10px -10px  10px -1px rgb(255, 255, 255,0.30)
 ;
 transition: 0.3s;
    width: 470px;
}
.edit-form .form-group:hover{
    outline-color: #e8e8e8;
    background: #edf2f6;
    box-shadow: inset 10px 10px 10px  -1px rgb(10, 99, 169, 0.16),
    inset  -10px -10px  10px -1px rgb(255, 255, 255,0.70)
    ;
}
.edit-form .form-group span{
    font-size: 20px;
}
.edit-form .form-group input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 10px;    
}
::placeholder{
    font-size: 13px;
    font-weight: 600;
    color: rgb(178, 176, 176);
}
.edit-btn{
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    width: 130px;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: inset 10px 10px 10px  -1px rgb(10, 99, 169, 0.16),
    inset  -10px -10px  10px -1px rgb(255, 255, 255,0.70)
    ;
   display: block;
   margin: 5px auto;
   margin-bottom: 15px;
}
.edit-btn:active{
    background: white;
    box-shadow:  10px 10px 10px  -1px rgb(10, 99, 169, 0.16),
      -10px -10px  10px -1px rgb(255, 255, 255,0.30)
    ;
}